name: 'Terraform'

on:
  # workflow_dispatch:
  #   inputs:
  #     environment:
  #       description: "Project to deploy"
  #       required: true
  #       type: choice
  #       options:
  #         - aip-sandbox-application
  #         - aip-sandbox-data
  #         - aip-sandbox-ai
  #         - aip-sandbox-external

  pull_request:
      branches: [main]
      paths:
        - './environments/**' # Trigger on any change inside the terraform folder

jobs:

  find_working_dirs:
      runs-on: ubuntu-latest
      outputs:
        matrix: ${{ steps.files.outputs.directories_as_json }}
      steps:
            - name: Checkout Code
              uses: actions/checkout@v4
            
            # Use an action to find all unique directories containing .tf files that have changed
            - name: Get Changed Terraform Directories
              id: files
              uses: tj-actions/changed-files@v44
              with:
                files: |
                  ./environments/**
                json: true
                output_format: 'json' # Use json output for matrix

  terraform_plan:
    needs: find_working_dirs
    runs-on: ubuntu-latest
    strategy:
          fail-fast: false
          matrix:
            working_dir: ${{ fromJson(needs.find_working_dirs.outputs.matrix) }}

    name: 'Plan (${{ matrix.working_dir }})'

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Setup terraform variables
      id: vars
      run: |-
        cat > pipeline.auto.tfvars <<EOF
        region="${{ vars.GCP_REGION }}"
        project_id="${{ vars.GCP_PROJECT }}"
        zone="${{ vars.ZONE }}"
        EOF
        
    # - name: Set project folder
    #   id: set-env
    #   run: echo "ENV_DIR=./environments/sandbox/${{ github.event.inputs.environment }}" >> $GITHUB_ENV
      
    - name: Terraform Init
      run: terraform init
      working-directory: ${{ matrix.working_dir }}
      env:
        GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
      
    - name: Terraform Plan
      id: plan
      run: terraform plan -no-color -input=false
      working-directory: ${{ matrix.working_dir }}
      continue-on-error: true
      env:
        GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}




    - name: Terraform Apply
      run: terraform -chdir=$ENV_DIR apply -auto-approve
      env:
        GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}